{% extends '_layout.html' %}


{% block title %}FreeKick | About{% endblock %}

{% block body %}
</div>
<div class="col-md-6">
    <div class="container part box-outline">
        <h3 class="post-header">Behind this <span class="proj">Project</span> </h3>
        <p class="post-details">This is a project is starting as a club for students at University Of North Carolina in January 2025.
    </div>
    <img class=" img-fluid" src="static/imgs/ready26logo.png" alt="People">
</div>


<div class="col-md-3">
    <div class="faq box-outline">
        <div class="faq-container d-flex">
        </div class="faq-content">
        <h3 class="faq-title">FAQs</h3>
        {% for faq_listofQuestions , faq_listofAnswers in faq_dictionary.items() %}
        <p class="question">{{faq_listofQuestions}}</p>
        <p class="answer">{{faq_listofAnswers}}</p>
        {% endfor %}
    </div>


        <div class="faq box-outline-6">
            <div class="faq-container d-flex">
            </div class="faq-content">
            <h3 class="faq-title">Structure</h3>
            <div class="accordion rules-acc" id="accordionExample">
              <div class="accordion-item box-outline">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Mission
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <ul>
                      Our mission is to engage people with soccer content as we prepare for the USA World Cup. We will capitalize on football content knowledge and culture, and we are passionate about offering students and patrons a chance to participate in a fun and dynamic organization.
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item box-outline">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Strategy
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <ul>
                      Join our team and help us grow the FreeKick community on campus. Whether you're passionate about soccer, technology, or analytics, there’s a place for you in our mission. There will be a series of areas to get involved in like articles, games, analytics, forums, fantasy soccer and more!
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item box-outline">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Culture
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <ul>
                      <li> Soccer lovers </li>
                      <li> Globalization enthusiasts </li>
                      <li> Analytics aficionados </li>
                      <li> Those eagerly anticipating this once-in-a-lifetime opportunity for the World Cup to take place in the U.S. in 2026 (pretty much anyone)! </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

    
    {% endblock %}