{% extends '_layout.html' %}

{% block title %} BYTE | Home {% endblock %}

{% block body %}
</div>
<div class="col-md-6">
    <div class="d-flex mb-3 post-nav box-outline">
        <div class="p-2 trending-post">
            <a class="inactive" href="/">Teams</a>
        </div>
        <div class="p-2 trending-post">
            <a class="inactive" href="/">Articles</a>
        </div>
        <div class="p-2 trending-post">
            <a class="inactive" href="/">Podcast</a>
        </div>
        <div class="p-2 trending-post">
            <a class="inactive" href="/">Games</a>
        </div>
        <div class="p-2 trending-post">
            <a class="inactive" href="/">Tickets</a>
        </div>     
        <div class="p-2 trending-post">
            <a class="inactive" href="/">Forum</a>
        </div>   
        
    </div>

    <div class="container user-post box-outline">
            <div class="col-12">
                <img class="img-fluid" src="static/imgs/usworldcup.png" alt="The Future">
            </div>
    </div>
</div>


<div class="col-md-3">
    <div class="leaderboard box-outline">
     
        <img class="img-fluid" src="static/imgs/26logo.png" alt="BYTE LOGO">

    </div>
</div>

{% endblock %}